SQL> set markup html on
SQL&gt; -- column state format a30 justify right
<br>
SQL&gt; 
<br>
SQL&gt; -- Hypothesis 1
<br>
SQL&gt; -- Primary Election. Hillary vs Trump
<br>
SQL&gt; 
<br>
SQL&gt; -- Summary
<br>
SQL&gt; with
<br>
  2  pivot_data as (select state, candidate, votes from primary_results),
<br>
  3  pv1 as (select * from pivot_data pivot(sum(votes) for candidate in ('Hillary Clinton' as HC, 'Donald Trump'as DT ))),
<br>
  4  pv2 as (select state, nvl(HC,0) HC, nvl(DT,0) DT from pv1),
<br>
  5  pv3 as (select pv2.state, case when 1=1 then HC-DT else 0 end HC_DT, HC, DT, state_evotes
<br>
  6  	     from pv2, electoral_college ec where ec.state = pv2.state),
<br>
  7  pv_state as ( select state, case when HC_DT&gt; 0 then (1*state_evotes) else (-1*state_evotes) end dem_rep from pv3),
<br>
  8  pv_party as ( select state, case when dem_rep &gt; 0 then 'Hillary' else 'Trump' end party, dem_rep from pv_state)
<br>
  9  select party, abs(sum(dem_rep)) total from pv_party group by party order by 1;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
PARTY
</th>
<th scope="col">
TOTAL
</th>
</tr>
<tr>
<td>
Hillary
</td>
<td align="right">
       390
</td>
</tr>
<tr>
<td>
Trump
</td>
<td align="right">
       135
</td>
</tr>
</table>
<p>

SQL&gt; 
<br>
SQL&gt; -- Detail
<br>
SQL&gt; with
<br>
  2  pivot_data as (select state, candidate, votes from primary_results),
<br>
  3  pv1 as (select * from pivot_data pivot(sum(votes) for candidate in ('Hillary Clinton' as HC, 'Donald Trump'as DT ))),
<br>
  4  pv2 as (select state, nvl(HC,0) HC, nvl(DT,0) DT from pv1),
<br>
  5  pv3 as (select pv2.state, case when 1=1 then HC-DT else 0 end HC_DT, HC, DT, state_evotes
<br>
  6  	     from pv2, electoral_college ec where ec.state = pv2.state),
<br>
  7  pv_state as ( select state, case when HC_DT&gt; 0 then (1*state_evotes) else (-1*state_evotes) end dem_rep, hc_dt from pv3)
<br>
  8  select state, case when dem_rep &gt; 0 then 'Hillary ' else 'Trump ' end which_party,
<br>
  9  	     dem_rep &quot;State_Electoral_Votes:+Dem-Rep&quot;, hc_dt votes_cardinality_diff
<br>
 10  from pv_state order by 1;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
STATE
</th>
<th scope="col">
WHICH_PA
</th>
<th scope="col">
State_Electoral_Votes:+Dem-Rep
</th>
<th scope="col">
VOTES_CARDINALITY_DIFF
</th>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Trump 
</td>
<td align="right">
        -9
</td>
<td align="right">
    -61807
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Trump 
</td>
<td align="right">
        -3
</td>
<td align="right">
     -7247
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Trump 
</td>
<td align="right">
       -10
</td>
<td align="right">
    -14219
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Hillary 
</td>
<td align="right">
         6
</td>
<td align="right">
     11436
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Hillary 
</td>
<td align="right">
        55
</td>
<td align="right">
    765751
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Hillary 
</td>
<td align="right">
         9
</td>
<td align="right">
     49256
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Hillary 
</td>
<td align="right">
         7
</td>
<td align="right">
     46708
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Hillary 
</td>
<td align="right">
         3
</td>
<td align="right">
     13478
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Hillary 
</td>
<td align="right">
        27
</td>
<td align="right">
     20179
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Hillary 
</td>
<td align="right">
        15
</td>
<td align="right">
     41301
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Hillary 
</td>
<td align="right">
         4
</td>
<td align="right">
      4450
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Trump 
</td>
<td align="right">
        -4
</td>
<td align="right">
    -57413
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Hillary 
</td>
<td align="right">
        21
</td>
<td align="right">
    460711
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Trump 
</td>
<td align="right">
       -11
</td>
<td align="right">
   -287078
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Hillary 
</td>
<td align="right">
         7
</td>
<td align="right">
     24314
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Trump 
</td>
<td align="right">
        -6
</td>
<td align="right">
     -4469
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Hillary 
</td>
<td align="right">
         8
</td>
<td align="right">
    130057
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Hillary 
</td>
<td align="right">
         9
</td>
<td align="right">
     96797
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Hillary 
</td>
<td align="right">
         4
</td>
<td align="right">
      1214
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Hillary 
</td>
<td align="right">
        10
</td>
<td align="right">
    296624
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Hillary 
</td>
<td align="right">
        12
</td>
<td align="right">
    292471
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Hillary 
</td>
<td align="right">
        17
</td>
<td align="right">
     93044
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Trump 
</td>
<td align="right">
        -6
</td>
<td align="right">
     -9308
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Trump 
</td>
<td align="right">
       -11
</td>
<td align="right">
    -71491
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Trump 
</td>
<td align="right">
        -3
</td>
<td align="right">
    -58862
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Trump 
</td>
<td align="right">
        -5
</td>
<td align="right">
   -106947
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Trump 
</td>
<td align="right">
        -5
</td>
<td align="right">
    -28235
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Trump 
</td>
<td align="right">
        -4
</td>
<td align="right">
     -5154
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Hillary 
</td>
<td align="right">
        15
</td>
<td align="right">
    197540
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Hillary 
</td>
<td align="right">
         5
</td>
<td align="right">
     36921
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Hillary 
</td>
<td align="right">
        31
</td>
<td align="right">
    529151
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Hillary 
</td>
<td align="right">
        15
</td>
<td align="right">
    158232
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Hillary 
</td>
<td align="right">
         3
</td>
<td align="right">
       101
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Trump 
</td>
<td align="right">
       -20
</td>
<td align="right">
    -48319
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Hillary 
</td>
<td align="right">
         7
</td>
<td align="right">
      9197
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Hillary 
</td>
<td align="right">
         7
</td>
<td align="right">
     10935
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Hillary 
</td>
<td align="right">
        21
</td>
<td align="right">
     25987
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Hillary 
</td>
<td align="right">
         4
</td>
<td align="right">
     13434
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Hillary 
</td>
<td align="right">
         8
</td>
<td align="right">
     31663
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Trump 
</td>
<td align="right">
        -3
</td>
<td align="right">
    -17820
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Trump 
</td>
<td align="right">
       -11
</td>
<td align="right">
    -87398
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Hillary 
</td>
<td align="right">
        34
</td>
<td align="right">
    177462
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Trump 
</td>
<td align="right">
        -5
</td>
<td align="right">
     -9198
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Trump 
</td>
<td align="right">
        -3
</td>
<td align="right">
     -1633
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Hillary 
</td>
<td align="right">
        13
</td>
<td align="right">
    147398
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Trump 
</td>
<td align="right">
       -11
</td>
<td align="right">
   -395863
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Trump 
</td>
<td align="right">
        -5
</td>
<td align="right">
    -69891
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Hillary 
</td>
<td align="right">
        10
</td>
<td align="right">
     46397
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Hillary 
</td>
<td align="right">
         3
</td>
<td align="right">
        54
</td>
</tr>
</table>
<p>

49 rows selected.<br>
<br>


SQL&gt; 
<br>
SQL&gt; 
<br>
SQL&gt; -- Lead per state.
<br>
SQL&gt; with
<br>
  2  pivot_data as (select state, candidate, votes from primary_results),
<br>
  3  pv1 as (select * from pivot_data pivot(sum(votes) for candidate in ('Hillary Clinton' as HC, 'Donald Trump'as DT ))),
<br>
  4  pv2 as (select state, nvl(HC,0) HC, nvl(DT,0) DT from pv1)
<br>
  5  select state, case when HC &gt; DT then 'Hillary lead *' || to_char(HC- DT) else 'Trump lead *' || to_char(DT- HC) end res, HC, DT
<br>
  6  from pv2 order by state;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
STATE
</th>
<th scope="col">
RES
</th>
<th scope="col">
HC
</th>
<th scope="col">
DT
</th>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Trump lead *61807
</td>
<td align="right">
    309928
</td>
<td align="right">
    371735
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Trump lead *7247
</td>
<td align="right">
        99
</td>
<td align="right">
      7346
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Trump lead *14219
</td>
<td align="right">
    235697
</td>
<td align="right">
    249916
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Hillary lead *11436
</td>
<td align="right">
    144580
</td>
<td align="right">
    133144
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Hillary lead *765751
</td>
<td align="right">
   1940580
</td>
<td align="right">
   1174829
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Hillary lead *49256
</td>
<td align="right">
     49256
</td>
<td align="right">
         0
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Hillary lead *46708
</td>
<td align="right">
    170075
</td>
<td align="right">
    123367
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Hillary lead *13478
</td>
<td align="right">
     55950
</td>
<td align="right">
     42472
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Hillary lead *20179
</td>
<td align="right">
   1097400
</td>
<td align="right">
   1077221
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Hillary lead *41301
</td>
<td align="right">
    543008
</td>
<td align="right">
    501707
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Hillary lead *4450
</td>
<td align="right">
     10127
</td>
<td align="right">
      5677
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Trump lead *57413
</td>
<td align="right">
      5065
</td>
<td align="right">
     62478
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Hillary lead *460711
</td>
<td align="right">
   1012175
</td>
<td align="right">
    551464
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Trump lead *287078
</td>
<td align="right">
    303382
</td>
<td align="right">
    590460
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Hillary lead *24314
</td>
<td align="right">
     69733
</td>
<td align="right">
     45419
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Trump lead *4469
</td>
<td align="right">
     12593
</td>
<td align="right">
     17062
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Hillary lead *130057
</td>
<td align="right">
    212550
</td>
<td align="right">
     82493
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Hillary lead *96797
</td>
<td align="right">
    221615
</td>
<td align="right">
    124818
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Hillary lead *1214
</td>
<td align="right">
      1214
</td>
<td align="right">
         0
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Hillary lead *296624
</td>
<td align="right">
    533247
</td>
<td align="right">
    236623
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Hillary lead *292471
</td>
<td align="right">
    603784
</td>
<td align="right">
    311313
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Hillary lead *93044
</td>
<td align="right">
    576795
</td>
<td align="right">
    483751
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Trump lead *9308
</td>
<td align="right">
    182447
</td>
<td align="right">
    191755
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Trump lead *71491
</td>
<td align="right">
    310602
</td>
<td align="right">
    382093
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Trump lead *58862
</td>
<td align="right">
     55194
</td>
<td align="right">
    114056
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Trump lead *106947
</td>
<td align="right">
     14340
</td>
<td align="right">
    121287
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Trump lead *28235
</td>
<td align="right">
      6296
</td>
<td align="right">
     34531
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Trump lead *5154
</td>
<td align="right">
     95252
</td>
<td align="right">
    100406
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Hillary lead *197540
</td>
<td align="right">
    554237
</td>
<td align="right">
    356697
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Hillary lead *36921
</td>
<td align="right">
    110451
</td>
<td align="right">
     73530
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Hillary lead *529151
</td>
<td align="right">
   1054083
</td>
<td align="right">
    524932
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Hillary lead *158232
</td>
<td align="right">
    616383
</td>
<td align="right">
    458151
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Hillary lead *101
</td>
<td align="right">
       101
</td>
<td align="right">
         0
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Trump lead *48319
</td>
<td align="right">
    679266
</td>
<td align="right">
    727585
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Hillary lead *9197
</td>
<td align="right">
    139338
</td>
<td align="right">
    130141
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Hillary lead *10935
</td>
<td align="right">
    251739
</td>
<td align="right">
    240804
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Hillary lead *25987
</td>
<td align="right">
    918689
</td>
<td align="right">
    892702
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Hillary lead *13434
</td>
<td align="right">
     52493
</td>
<td align="right">
     39059
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Hillary lead *31663
</td>
<td align="right">
    271514
</td>
<td align="right">
    239851
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Trump lead *17820
</td>
<td align="right">
     27046
</td>
<td align="right">
     44866
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Trump lead *87398
</td>
<td align="right">
    245304
</td>
<td align="right">
    332702
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Hillary lead *177462
</td>
<td align="right">
    935080
</td>
<td align="right">
    757618
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Trump lead *9198
</td>
<td align="right">
     15666
</td>
<td align="right">
     24864
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Trump lead *1633
</td>
<td align="right">
     18335
</td>
<td align="right">
     19968
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Hillary lead *147398
</td>
<td align="right">
    503358
</td>
<td align="right">
    355960
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Trump lead *395863
</td>
<td align="right">
      7140
</td>
<td align="right">
    403003
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Trump lead *69891
</td>
<td align="right">
     86354
</td>
<td align="right">
    156245
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Hillary lead *46397
</td>
<td align="right">
    432767
</td>
<td align="right">
    386370
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Hillary lead *54
</td>
<td align="right">
       124
</td>
<td align="right">
        70
</td>
</tr>
</table>
<p>

49 rows selected.<br>
<br>


SQL&gt; 
<br>
SQL&gt; 
<br>
SQL&gt; 
<br>
SQL&gt; select state , party,candidate, sum(votes) from primary_results group by STATE, rollup (party, candidate) order by 1,4 desc;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
STATE
</th>
<th scope="col">
PARTY
</th>
<th scope="col">
CANDIDATE
</th>
<th scope="col">
SUM(VOTES)
</th>
</tr>
<tr>
<td>
Alabama
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1223959
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    837632
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    386327
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    371735
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    309928
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    180608
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    159802
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     87517
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     76399
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     37970
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
     22469
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     21930
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
      7973
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
      7346
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
      3318
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
      2401
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
       892
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
       539
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
       440
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
        99
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    834200
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    435103
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    399097
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    249916
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    235697
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    163400
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    132147
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     53040
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    605971
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    396523
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    209448
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    144580
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    133144
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    123873
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    101235
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     64868
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     23173
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     15098
</td>
</tr>
<tr>
<td>
California
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   4938197
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   3442623
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
   1940580
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
   1502043
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1495574
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
   1174829
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    176620
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    144125
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    121184
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    121184
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     71928
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     49256
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    531302
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    322485
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    208817
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    170075
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    152410
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    123367
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     60481
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     24969
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    160416
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     92609
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     67807
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     55950
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     42472
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     36659
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     14225
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     11110
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   3940929
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   2276926
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1664003
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
   1097400
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
   1077221
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    636653
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    566603
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    403640
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    159412
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   2032941
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1275601
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    757340
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    543008
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    501707
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    315979
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    305109
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    214332
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     80503
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     72303
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
     46886
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     33658
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     23531
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     13228
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     10127
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
      5677
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
      4379
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
      1759
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
      1413
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    238989
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    215284
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    100942
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     62478
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     35347
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     23705
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     18640
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     16517
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
      5065
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   3372537
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1987834
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1384703
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
   1012175
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    975659
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    551464
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    430395
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    279778
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    123066
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1719291
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1080653
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    638638
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    590460
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    406280
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    335256
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    303382
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     83913
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    326704
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    186724
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    139980
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     69733
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     69452
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     51663
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     45419
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     43164
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     17393
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Rand Paul
</td>
<td align="right">
      8479
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Jeb Bush
</td>
<td align="right">
      5238
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Carly Fiorina
</td>
<td align="right">
      3485
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
      3472
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Mike Huckabee
</td>
<td align="right">
      3345
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Chris Christie
</td>
<td align="right">
      3284
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
Rick Santorum
</td>
<td align="right">
      1782
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Democrat
</td>
<td>
Martin O'Malley
</td>
<td align="right">
       752
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Democrat
</td>
<td>
 Uncommitted
</td>
<td align="right">
        43
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    111296
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     72253
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     39043
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     35207
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     26450
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     17062
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     12593
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     12189
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
      7795
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    648885
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    423176
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    225709
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    212550
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    210626
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     82493
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     72503
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     37579
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     33134
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    585781
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    293855
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    291926
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    221615
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    124818
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    113949
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     72240
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     33804
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     19355
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
      3415
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
      3415
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
      2201
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
      1214
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1233272
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    814522
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    533247
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    418750
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    281275
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    236623
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    100089
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     82038
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1813320
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1198652
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    614668
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    603784
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    586716
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    311313
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    113783
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    112822
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     60473
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     16277
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Democrat
</td>
<td>
 No Preference
</td>
<td align="right">
      8152
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   2431111
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1259094
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1172017
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    595222
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    576795
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    483751
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    330015
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    321655
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    123673
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    614200
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    395405
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    218795
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    191755
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    182447
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    147065
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     36348
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     35817
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     20768
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1531672
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    911999
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    619673
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    382093
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    380367
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    310602
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    309071
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     92533
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     57006
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    257516
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    139154
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    118362
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    114056
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     63168
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     55194
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     14476
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     10622
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    213691
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    180231
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    121287
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     36418
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     33460
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     22526
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     19120
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     14340
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
     86815
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     74878
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     34531
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     17940
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     16079
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     11937
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
      6296
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
      5641
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
      3619
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
      2709
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    525966
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    279130
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    246836
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    151584
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    100406
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     95252
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     44909
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     33189
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Jeb Bush
</td>
<td align="right">
     31310
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     30032
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Chris Christie
</td>
<td align="right">
     21069
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Carly Fiorina
</td>
<td align="right">
     11706
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
      6509
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1321220
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    877496
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    554237
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    443724
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    356697
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    323259
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     59506
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     27521
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    309532
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    214307
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    110451
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    103856
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     95225
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     73530
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     13825
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
      7870
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   2686539
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1817552
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
   1054083
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    868987
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    763469
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    524932
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    217904
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    126151
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   2185747
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1109048
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1076699
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    616383
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    460316
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    458151
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    418740
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    144299
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     87858
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
       354
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
       354
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
       253
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
       101
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   3204172
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   2011357
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1192815
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    956762
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    727585
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    679266
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    513549
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    267592
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     59418
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    766123
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    452731
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    313392
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    174054
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    157941
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    139338
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    130141
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    119562
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     28572
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     16515
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    933975
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    572485
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    361490
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    320746
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    251739
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    240804
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     61590
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     59096
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   3176340
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1638644
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1537696
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    918689
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    892702
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    719955
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    340201
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    304793
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    179594
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    119213
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     66720
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     60381
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     52493
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     39059
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     14929
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
      6393
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1105408
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    737917
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    367491
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    271514
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    239851
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    165881
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    164790
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     95977
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
Jeb Bush
</td>
<td align="right">
     57863
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     56206
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     53326
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    119881
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     66877
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     53004
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     44866
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     27046
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     25958
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     11352
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     10659
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1200576
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    834939
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    365637
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    332702
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    245304
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    211159
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    180989
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    120333
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     64846
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     45243
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   4147889
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   2737248
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1410641
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
   1239370
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    935080
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    757618
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    502223
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    475561
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    120257
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
    117780
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    254203
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    177204
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    122567
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     76999
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     61333
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     29773
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     24864
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     15666
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    192960
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    134198
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    115863
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     58762
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
     19968
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     18543
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     18335
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
     11778
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
      5929
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
      2544
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   1791672
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1012807
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    778865
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    503358
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    355960
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
    327042
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    275507
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    173193
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     96519
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
Ben Carson
</td>
<td align="right">
     60093
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    537150
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    510851
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    403003
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     55719
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     52129
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     26299
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
     19159
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
      7140
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
    398352
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    210214
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    188138
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    156245
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    123860
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
     86354
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
     18208
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
     13685
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
   2073402
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1072699
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1000703
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
    567936
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
    531129
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
    432767
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
    386370
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
    155200
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
&nbsp;
</td>
<td>
&nbsp;
</td>
<td align="right">
      1183
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
       903
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican
</td>
<td>
Ted Cruz
</td>
<td align="right">
       644
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
       280
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican
</td>
<td>
Marco Rubio
</td>
<td align="right">
       189
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Democrat
</td>
<td>
Bernie Sanders
</td>
<td align="right">
       156
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Democrat
</td>
<td>
Hillary Clinton
</td>
<td align="right">
       124
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican
</td>
<td>
Donald Trump
</td>
<td align="right">
        70
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican
</td>
<td>
John Kasich
</td>
<td align="right">
         0
</td>
</tr>
</table>
<p>

434 rows selected.<br>
<br>


SQL&gt; 
<br>
SQL&gt; create or replace view rollup_view as
<br>
  2  select state, party,candidate, sum(votes) votes
<br>
  3  from primary_results group by STATE, rollup (party, candidate) order by 1,4 desc;
<br>

View created.<br>
<br>


SQL&gt; 
<br>
SQL&gt; select * from rollup_view where candidate is null and party is not null;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
STATE
</th>
<th scope="col">
PARTY
</th>
<th scope="col">
CANDIDATE
</th>
<th scope="col">
VOTES
</th>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    837632
</td>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    386327
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     21930
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
       539
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    435103
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    399097
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    396523
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    209448
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   3442623
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1495574
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    121184
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    322485
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    208817
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     92609
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     67807
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   2276926
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1664003
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1275601
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    757340
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     33658
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     13228
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    215284
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     23705
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1987834
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1384703
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1080653
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    638638
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    186724
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    139980
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     72253
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     39043
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    423176
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    225709
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    293855
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    291926
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
      3415
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    814522
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    418750
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1198652
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    614668
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1259094
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1172017
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    395405
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    218795
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    911999
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    619673
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    139154
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    118362
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    180231
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     33460
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     74878
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     11937
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    279130
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    246836
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    877496
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    443724
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    214307
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     95225
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1817552
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    868987
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1109048
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1076699
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
       354
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   2011357
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1192815
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    452731
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    313392
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    572485
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    361490
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1638644
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1537696
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    119213
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     60381
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    737917
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    367491
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     66877
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     53004
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    834939
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    365637
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   2737248
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1410641
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    177204
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     76999
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    134198
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
     58762
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1012807
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    778865
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    510851
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
     26299
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
    210214
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
    188138
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
   1072699
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
   1000703
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican
</td>
<td>
&nbsp;
</td>
<td align="right">
       903
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Democrat
</td>
<td>
&nbsp;
</td>
<td align="right">
       280
</td>
</tr>
</table>
<p>

95 rows selected.<br>
<br>


SQL&gt; 
<br>
SQL&gt; create or replace view rollup_view2 as select * from rollup_view where candidate is null and party is not null;
<br>

View created.<br>
<br>


SQL&gt; -- Hypothesis 2
<br>
SQL&gt; 
<br>
SQL&gt; --detail
<br>
SQL&gt; with
<br>
  2  pivot2_data as (select state, party, votes from rollup_view2),
<br>
  3  pv1 as (select * from pivot2_data pivot(sum(votes) for party in ('Democrat' as HC, 'Republican' as DT ))),
<br>
  4  pv2 as (select state, nvl(HC,0) HC, nvl(DT,0) DT from pv1),
<br>
  5  pv3 as (select pv2.state, case when 1=1 then HC-DT else 0 end HC_DT, HC, DT, HC+DT total,
<br>
  6  	     trunc((100*(abs(HC-DT)))/(HC+DT), 1) percentage, state_evotes
<br>
  7  	     from pv2, electoral_college ec where ec.state = pv2.state),
<br>
  8  pv_state as ( select state, case when HC_DT&gt; 0 then (1*state_evotes) else (-1*state_evotes) end dem_rep, hc_dt, total, percentage
<br>
  9  		      from pv3)
<br>
 10  select state, case when dem_rep &gt; 0 then 'Democratic ' else 'Republican ' end which_party,
<br>
 11  	     dem_rep, hc_dt votes_cardinality_diff, total, percentage -- to_char(percentage, '9999999.99') percentage
<br>
 12  from pv_state order by 1;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
STATE
</th>
<th scope="col">
WHICH_PARTY
</th>
<th scope="col">
DEM_REP
</th>
<th scope="col">
VOTES_CARDINALITY_DIFF
</th>
<th scope="col">
TOTAL
</th>
<th scope="col">
PERCENTAGE
</th>
</tr>
<tr>
<td>
Alabama
</td>
<td>
Republican 
</td>
<td align="right">
        -9
</td>
<td align="right">
   -451305
</td>
<td align="right">
   1223959
</td>
<td align="right">
      36.8
</td>
</tr>
<tr>
<td>
Alaska
</td>
<td>
Republican 
</td>
<td align="right">
        -3
</td>
<td align="right">
    -21391
</td>
<td align="right">
     22469
</td>
<td align="right">
      95.2
</td>
</tr>
<tr>
<td>
Arizona
</td>
<td>
Republican 
</td>
<td align="right">
       -10
</td>
<td align="right">
    -36006
</td>
<td align="right">
    834200
</td>
<td align="right">
       4.3
</td>
</tr>
<tr>
<td>
Arkansas
</td>
<td>
Republican 
</td>
<td align="right">
        -6
</td>
<td align="right">
   -187075
</td>
<td align="right">
    605971
</td>
<td align="right">
      30.8
</td>
</tr>
<tr>
<td>
California
</td>
<td>
Democratic 
</td>
<td align="right">
        55
</td>
<td align="right">
   1947049
</td>
<td align="right">
   4938197
</td>
<td align="right">
      39.4
</td>
</tr>
<tr>
<td>
Colorado
</td>
<td>
Democratic 
</td>
<td align="right">
         9
</td>
<td align="right">
    121184
</td>
<td align="right">
    121184
</td>
<td align="right">
       100
</td>
</tr>
<tr>
<td>
Connecticut
</td>
<td>
Democratic 
</td>
<td align="right">
         7
</td>
<td align="right">
    113668
</td>
<td align="right">
    531302
</td>
<td align="right">
      21.3
</td>
</tr>
<tr>
<td>
Delaware
</td>
<td>
Democratic 
</td>
<td align="right">
         3
</td>
<td align="right">
     24802
</td>
<td align="right">
    160416
</td>
<td align="right">
      15.4
</td>
</tr>
<tr>
<td>
Florida
</td>
<td>
Republican 
</td>
<td align="right">
       -27
</td>
<td align="right">
   -612923
</td>
<td align="right">
   3940929
</td>
<td align="right">
      15.5
</td>
</tr>
<tr>
<td>
Georgia
</td>
<td>
Republican 
</td>
<td align="right">
       -15
</td>
<td align="right">
   -518261
</td>
<td align="right">
   2032941
</td>
<td align="right">
      25.4
</td>
</tr>
<tr>
<td>
Hawaii
</td>
<td>
Democratic 
</td>
<td align="right">
         4
</td>
<td align="right">
     20430
</td>
<td align="right">
     46886
</td>
<td align="right">
      43.5
</td>
</tr>
<tr>
<td>
Idaho
</td>
<td>
Republican 
</td>
<td align="right">
        -4
</td>
<td align="right">
   -191579
</td>
<td align="right">
    238989
</td>
<td align="right">
      80.1
</td>
</tr>
<tr>
<td>
Illinois
</td>
<td>
Democratic 
</td>
<td align="right">
        21
</td>
<td align="right">
    603131
</td>
<td align="right">
   3372537
</td>
<td align="right">
      17.8
</td>
</tr>
<tr>
<td>
Indiana
</td>
<td>
Republican 
</td>
<td align="right">
       -11
</td>
<td align="right">
   -442015
</td>
<td align="right">
   1719291
</td>
<td align="right">
      25.7
</td>
</tr>
<tr>
<td>
Iowa
</td>
<td>
Republican 
</td>
<td align="right">
        -7
</td>
<td align="right">
    -46744
</td>
<td align="right">
    326704
</td>
<td align="right">
      14.3
</td>
</tr>
<tr>
<td>
Kansas
</td>
<td>
Republican 
</td>
<td align="right">
        -6
</td>
<td align="right">
    -33210
</td>
<td align="right">
    111296
</td>
<td align="right">
      29.8
</td>
</tr>
<tr>
<td>
Kentucky
</td>
<td>
Democratic 
</td>
<td align="right">
         8
</td>
<td align="right">
    197467
</td>
<td align="right">
    648885
</td>
<td align="right">
      30.4
</td>
</tr>
<tr>
<td>
Louisiana
</td>
<td>
Democratic 
</td>
<td align="right">
         9
</td>
<td align="right">
      1929
</td>
<td align="right">
    585781
</td>
<td align="right">
        .3
</td>
</tr>
<tr>
<td>
Maine
</td>
<td>
Democratic 
</td>
<td align="right">
         4
</td>
<td align="right">
      3415
</td>
<td align="right">
      3415
</td>
<td align="right">
       100
</td>
</tr>
<tr>
<td>
Maryland
</td>
<td>
Democratic 
</td>
<td align="right">
        10
</td>
<td align="right">
    395772
</td>
<td align="right">
   1233272
</td>
<td align="right">
        32
</td>
</tr>
<tr>
<td>
Massachusetts
</td>
<td>
Democratic 
</td>
<td align="right">
        12
</td>
<td align="right">
    583984
</td>
<td align="right">
   1813320
</td>
<td align="right">
      32.2
</td>
</tr>
<tr>
<td>
Michigan
</td>
<td>
Republican 
</td>
<td align="right">
       -17
</td>
<td align="right">
    -87077
</td>
<td align="right">
   2431111
</td>
<td align="right">
       3.5
</td>
</tr>
<tr>
<td>
Mississippi
</td>
<td>
Republican 
</td>
<td align="right">
        -6
</td>
<td align="right">
   -176610
</td>
<td align="right">
    614200
</td>
<td align="right">
      28.7
</td>
</tr>
<tr>
<td>
Missouri
</td>
<td>
Republican 
</td>
<td align="right">
       -11
</td>
<td align="right">
   -292326
</td>
<td align="right">
   1531672
</td>
<td align="right">
        19
</td>
</tr>
<tr>
<td>
Montana
</td>
<td>
Republican 
</td>
<td align="right">
        -3
</td>
<td align="right">
    -20792
</td>
<td align="right">
    257516
</td>
<td align="right">
         8
</td>
</tr>
<tr>
<td>
Nebraska
</td>
<td>
Republican 
</td>
<td align="right">
        -5
</td>
<td align="right">
   -146771
</td>
<td align="right">
    213691
</td>
<td align="right">
      68.6
</td>
</tr>
<tr>
<td>
Nevada
</td>
<td>
Republican 
</td>
<td align="right">
        -5
</td>
<td align="right">
    -62941
</td>
<td align="right">
     86815
</td>
<td align="right">
      72.5
</td>
</tr>
<tr>
<td>
New Hampshire
</td>
<td>
Republican 
</td>
<td align="right">
        -4
</td>
<td align="right">
    -32294
</td>
<td align="right">
    525966
</td>
<td align="right">
       6.1
</td>
</tr>
<tr>
<td>
New Jersey
</td>
<td>
Democratic 
</td>
<td align="right">
        15
</td>
<td align="right">
    433772
</td>
<td align="right">
   1321220
</td>
<td align="right">
      32.8
</td>
</tr>
<tr>
<td>
New Mexico
</td>
<td>
Democratic 
</td>
<td align="right">
         5
</td>
<td align="right">
    119082
</td>
<td align="right">
    309532
</td>
<td align="right">
      38.4
</td>
</tr>
<tr>
<td>
New York
</td>
<td>
Democratic 
</td>
<td align="right">
        31
</td>
<td align="right">
    948565
</td>
<td align="right">
   2686539
</td>
<td align="right">
      35.3
</td>
</tr>
<tr>
<td>
North Carolina
</td>
<td>
Republican 
</td>
<td align="right">
       -15
</td>
<td align="right">
    -32349
</td>
<td align="right">
   2185747
</td>
<td align="right">
       1.4
</td>
</tr>
<tr>
<td>
North Dakota
</td>
<td>
Democratic 
</td>
<td align="right">
         3
</td>
<td align="right">
       354
</td>
<td align="right">
       354
</td>
<td align="right">
       100
</td>
</tr>
<tr>
<td>
Ohio
</td>
<td>
Republican 
</td>
<td align="right">
       -20
</td>
<td align="right">
   -818542
</td>
<td align="right">
   3204172
</td>
<td align="right">
      25.5
</td>
</tr>
<tr>
<td>
Oklahoma
</td>
<td>
Republican 
</td>
<td align="right">
        -7
</td>
<td align="right">
   -139339
</td>
<td align="right">
    766123
</td>
<td align="right">
      18.1
</td>
</tr>
<tr>
<td>
Oregon
</td>
<td>
Democratic 
</td>
<td align="right">
         7
</td>
<td align="right">
    210995
</td>
<td align="right">
    933975
</td>
<td align="right">
      22.5
</td>
</tr>
<tr>
<td>
Pennsylvania
</td>
<td>
Democratic 
</td>
<td align="right">
        21
</td>
<td align="right">
    100948
</td>
<td align="right">
   3176340
</td>
<td align="right">
       3.1
</td>
</tr>
<tr>
<td>
Rhode Island
</td>
<td>
Democratic 
</td>
<td align="right">
         4
</td>
<td align="right">
     58832
</td>
<td align="right">
    179594
</td>
<td align="right">
      32.7
</td>
</tr>
<tr>
<td>
South Carolina
</td>
<td>
Republican 
</td>
<td align="right">
        -8
</td>
<td align="right">
   -370426
</td>
<td align="right">
   1105408
</td>
<td align="right">
      33.5
</td>
</tr>
<tr>
<td>
South Dakota
</td>
<td>
Republican 
</td>
<td align="right">
        -3
</td>
<td align="right">
    -13873
</td>
<td align="right">
    119881
</td>
<td align="right">
      11.5
</td>
</tr>
<tr>
<td>
Tennessee
</td>
<td>
Republican 
</td>
<td align="right">
       -11
</td>
<td align="right">
   -469302
</td>
<td align="right">
   1200576
</td>
<td align="right">
        39
</td>
</tr>
<tr>
<td>
Texas
</td>
<td>
Republican 
</td>
<td align="right">
       -34
</td>
<td align="right">
  -1326607
</td>
<td align="right">
   4147889
</td>
<td align="right">
      31.9
</td>
</tr>
<tr>
<td>
Utah
</td>
<td>
Republican 
</td>
<td align="right">
        -5
</td>
<td align="right">
   -100205
</td>
<td align="right">
    254203
</td>
<td align="right">
      39.4
</td>
</tr>
<tr>
<td>
Vermont
</td>
<td>
Democratic 
</td>
<td align="right">
         3
</td>
<td align="right">
     75436
</td>
<td align="right">
    192960
</td>
<td align="right">
        39
</td>
</tr>
<tr>
<td>
Virginia
</td>
<td>
Republican 
</td>
<td align="right">
       -13
</td>
<td align="right">
   -233942
</td>
<td align="right">
   1791672
</td>
<td align="right">
        13
</td>
</tr>
<tr>
<td>
Washington
</td>
<td>
Republican 
</td>
<td align="right">
       -11
</td>
<td align="right">
   -484552
</td>
<td align="right">
    537150
</td>
<td align="right">
      90.2
</td>
</tr>
<tr>
<td>
West Virginia
</td>
<td>
Democratic 
</td>
<td align="right">
         5
</td>
<td align="right">
     22076
</td>
<td align="right">
    398352
</td>
<td align="right">
       5.5
</td>
</tr>
<tr>
<td>
Wisconsin
</td>
<td>
Republican 
</td>
<td align="right">
       -10
</td>
<td align="right">
    -71996
</td>
<td align="right">
   2073402
</td>
<td align="right">
       3.4
</td>
</tr>
<tr>
<td>
Wyoming
</td>
<td>
Republican 
</td>
<td align="right">
        -3
</td>
<td align="right">
      -623
</td>
<td align="right">
      1183
</td>
<td align="right">
      52.6
</td>
</tr>
</table>
<p>

49 rows selected.<br>
<br>


SQL&gt; 
<br>
SQL&gt; -- summary
<br>
SQL&gt; 
<br>
SQL&gt; with
<br>
  2  pivot2_data as (select state, party, votes from rollup_view2),
<br>
  3  pv1 as (select * from pivot2_data pivot(sum(votes) for party in ('Democrat' as HC, 'Republican' as DT ))),
<br>
  4  pv2 as (select state, nvl(HC,0) HC, nvl(DT,0) DT from pv1),
<br>
  5  pv3 as (select pv2.state, case when 1=1 then HC-DT else 0 end HC_DT, HC, DT, state_evotes
<br>
  6  	     from pv2, electoral_college ec where ec.state = pv2.state),
<br>
  7  pv_state as ( select state, case when HC_DT&gt; 0 then (1*state_evotes) else (-1*state_evotes) end dem_rep, hc_dt from pv3),
<br>
  8  pv_party as (select state, case when dem_rep &gt; 0 then 'Democrat ' else 'Republican ' end which_party, dem_rep, hc_dt votes_cardinality_diff from pv_state)
<br>
  9  select  which_party, abs(sum(dem_rep)) total from pv_party group by which_party order by 1;
<br>
<p>
<table border='1' width='90%' align='center' summary='Script output'>
<tr>
<th scope="col">
WHICH_PARTY
</th>
<th scope="col">
TOTAL
</th>
</tr>
<tr>
<td>
Democrat 
</td>
<td align="right">
       236
</td>
</tr>
<tr>
<td>
Republican 
</td>
<td align="right">
       289
</td>
</tr>
</table>
<p>

SQL&gt; spool off
<br>
